<h3>Request a cab</h3>
<input type="text"  placeholder="customerId" name="customerId" ng-model="cId"/>
<input type="button" value="submit a cab request" ng-click="vm.postCabRequest(cId)"/>
<hr />

<input type="button" value="refresh data" ng-click="vm.refresh()"/>
<hr />

<h3>Driver Dashboard</h3>
<span ng-repeat="(key, value) in vm.driverMap">
  <div>
    <h4>Driver Id: {{key}}</h4>
  <div>
  <table class="table">
    <thead>
      <tr>
        <th>Customer Id</th>
        <th>Status</th>
        <th>Request Id</th>
        <th>Request Time</th>
        <th>Pick Up Time</th>
        <th>Complete Time</th>
      </tr>
    </thead>
    <tbody ng-repeat="cabReq in value">
      <tr>
        <th>{{cabReq.customerId}}</th>
        <th>{{vm.mapCodeToText(cabReq.statusCode)}}</td>
        <td>{{cabReq.id}}</td>
        <td>{{vm.computeTimeDifference(cabReq.createdAt)}}</td>
        <td>{{vm.computeTimeDifference(cabReq.requestProcessingTime)}}</td>
        <td>{{cabReq.statusCode != 30? null: vm.computeTimeDifference(cabReq.updatedAt)}}</td>
      </tr>
    </tbody>
  </table>
</span>