<!DOCTYPE html>
<html ng-app="docsappproj">

<head lang="en">
  <meta charset="UTF-8">
  <base href="/" target="_self">
  <style>
  [ng\:cloak],
  [ng-cloak],
  [data-ng-cloak],
  [x-ng-cloak],
  .ng-cloak,
  .x-ng-cloak {
    display: none !important;
  }
  </style>
  <title ng-if="!_r.title">docsappproj</title>
  <meta name="title" content="docsappproj">
  <title ng-cloak>{{_r.title}}</title>
  <!-- Mobile viewport -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Meta description -->
  <meta name="description" content="docsappproj">
  <meta name="author" content="Himanshu">
  <!-- CSS -->
  <link rel="stylesheet" href="app.cat.css" />
  <link rel='stylesheet prefetch' href='//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css' />
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-inverse">
      <div class="container-fluid container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#" style="padding: 10px">
          </a>
        </div>
      </div>
    </nav>
    <!-- Horn -->
    <div id="horn" class="ss-horn-bar">
     <div ng-cloak class="alert {{hornMessageStyle(horn)}} ss-natural-word-break ss-page-container"
       ng-repeat="horn in horns">
       <a href="" class="pull-right" ng-click="removeHornMessage(horn)">x</a>
       <div ng-bind-html="horn.message"></div>
     </div>
   </div>
    <!-- Loading app -->
    <div class="ss-text-center" ng-if="!_r.appLoaded && _r.loadingMessage" style="z-index:1000;">
      <i class="fa fa-life-ring fa-spin sf-200"></i>
      <div class="seperator"></div>
      <i class="sf-16" ng-if="!_r.loadingMessage">Loading...</i>
      <i class="sf-16" ng-cloak>{{_r.loadingMessage}}</i>
    </div>
    <!-- View Body -->
    <div ng-cloak ui-view ng-if="_r.appLoaded">
    </div>

  <!-- load script library -->
  <script src="lib.min.js"></script>
  <!-- ngApp Start -->
  <script src="app.cat.js"></script>
  <!---->
</body>

</html>
